// Import page-specific CSS files here.
@import "home";


 h1, h4 {
  color: #d6dd0b;
  font-family: 'Bebas Neue', cursive;
 }

a {
  color: #d6dd0b;
  font-family: 'Bebas Neue', cursive;
}

.banner {
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}
.btn {
  color: #d6dd0b;
}


